.main {
    font-size: 80pt;
    text-align: center;

    div {
        margin-bottom: 1em;
    }
}

.count > span {
    padding: 30pt;
    border: 5px solid black;
    border-radius: 0.1em;
    font-size: 160pt;
    font-weight: bold;
}
